.campaign-table{
    width:max-content;
    font-size: 13pt;
    font-family: sans-serif;   
}

h1{
    font-family: sans-serif;
}

th{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    font-size: 13pt;    
}

tr{
    height: 64px;
    background-color: white;
    border-bottom: solid 1px;
}

.table-header{
    height:50px;
    color: #595959;
}

tr:hover {
    background-color: #F5F5F5;
}

.status-col{
    width: 80px;

}
.campaign-col{
    width: 550px;
    color: blue;
}

td{
    width: 150px;
}